# Python cache
**/__pycache__/
**/*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc

# Environment variables
.env

# Editor & OS files
.vscode/
.idea/
.DS_Store

# Virtual environment folders
venv/
env/
concurrent_modification/__pycache__/*
concurrent_modification/__pycache__/__init__.cpython-313.pyc
concurrent_modification/__pycache__/admin.cpython-313.pyc
concurrent_modification/__pycache__/models.cpython-313.pyc
concurrent_modification/__pycache__/settings.cpython-313.pyc
concurrent_modification/__pycache__/urls.cpython-313.pyc
concurrent_modification/__pycache__/wsgi.cpython-313.pyc
