# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc

# Environment variables
.env

# Editor & OS files
.vscode/
.idea/
.DS_Store

# Virtual environment folders
venv/
env/
