<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    
</head>
<body>

    {% extends 'admin_nav_bar.html' %}

    {% block title %}Home{% endblock %}

    {% block content %}
    <p style="display:flex; justify-content: center;align-items: center;height: 20vh;font-size: large;">Logged in as: {{ username }}</p>
    <p2 style="display:flex; justify-content: center;align-items: center;height: 5vh;font-size: large;">Welcome {{ name }}!</p2>
    {% endblock %}

</body>
</html>
