<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Debit</title>
</head>
<body>
    
    {% extends 'navbar.html' %}

    {% block title %}Debit{% endblock %}

    {% block content %}
    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 40px;">
        {% if debit %}
        <h1>Debit Card Details</h1>
        <p><strong>Balance:</strong> ${{ debit.balance | floatformat:2 }}</p>
        <p><strong>Last Transaction Value:</strong> ${{ debit.last_transaction | default_if_none:0}}</p>
        <p><strong>Connected Account:</strong> {{ debit.connected_account }}</p>
        <p><strong>Overdraft Protection:</strong> {{ debit.overdraft_protection|yesno:"True,False" }}</p>

        <div>
            <form method="post"
                action="{% if debit.is_active %}{% url 'debit_close' %}{% else %}{% url 'debit_reactivate' %}{% endif %}"
                onsubmit="return confirm('{% if debit.is_active %}Are you sure you want to close your debit card?{% else %}Are you sure you want to reactivate your debit card?{% endif %}');"
                style="margin-top: 20px;">        
                {% csrf_token %}
                <button type="submit">
                    {% if debit.is_active %}Close Card
                    {% else %}Reactivate Card
                    {% endif %}
                </button>
            </form>
        </div>
        {% else %}
        <p>No debit card information available.</p>
        {% endif %}
    </div>
    {% endblock %}

</body>
</html>