<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <li><a href="/Account/">Account</a></li>
        <li><a href="/Transactions/">Transactions</a></li>
        <li><a href="/Debit Cards/">Debit Cards</a></li>
        <li><a href="/Loans/">Loans</a></li>
        <li><a href="/Overdrafts/">Overdrafts</a></li>
        <li><a href="/Personal Information/">Personal Information</a></li>
        <li><a href="/Help/">Help</a></li>

        <!--if someone is an admin their homepage should be different
        they could have a link to bank branches, employees and functionality to insert, alter and delete 
        pretty much everything...-->
    </body>
</html>