<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    
</head>
<body>

    {% extends 'navbar.html' %}

    {% block title %}Home{% endblock %}

    {% block content %}
    <p style="display:flex; justify-content: center;align-items: center;height: 20vh;font-size: large;">Logged in as: {{ username }}</p>
    <p2 style="display:flex; justify-content: center;align-items: center;height: 5vh;font-size: large;">Welcome {{ name }}!</p2>
    {% endblock %}

    <!-- if someone is an admin their homepage should be different
    they could have a link to bank branches, employees and functionality to insert, alter and delete 
    pretty much everything... -->

</body>
</html>
