<!-- templates/register.html -->
{% block content %}
<h2>Create Account</h2>
<form method="post">
    {% csrf_token %}
    
    <h3>User Info</h3>
    <label>Username:</label>
    <input type="text" name="username" required><br>
    <label>Password:</label>
    <input type="password" name="password" required><br>
    
    <h3>Personal Details</h3>
    <label>First Name:</label>
    <input type="text" name="first_name"><br>
    <label>Last Name:</label>
    <input type="text" name="last_name"><br>
    <label>Email:</label>
    <input type="text" name="email"><br>
    <label>Phone number: (</label>
    <input type="text" name="phone_area" maxlength="3" size="3">
    <label>) - </label>
    <input type="text" name="phone_num1" maxlength="7" size="7"><br>
    
    <h3>Address</h3>
    <label>Street:</label>
    <input type="text" name="street"><br>
    <label>City:</label>
    <input type="text" name="city"><br>
    <label>State:</label>
    <input type="text" name="state"><br>
    <label>Zip Code:</label>
    <input type="text" name="zip" maxlength="5" size="5"><br>
    
    <button type="submit">Create Account</button>
</form>

<p><a href="{% url 'signin' %}">Go Back</a></p>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
